<!DOCTYPE html>
<html>
  <head>
    <title>Bienvenue sur ma deuxième page avec OpenClassrooms !</title>
  </head>
  <body>
    <h1>Bye bye {{ nom }} !</h1>

    <p>
      That's all!
    </p>
  </body>
</html>